STATUS_SERVER_URL=http://ec2-18-119-152-234.us-east-2.compute.amazonaws.com/thermostat_status_server.php
SCHEDULE_SERVER_URL=http://ec2-18-119-152-234.us-east-2.compute.amazonaws.com/thermostat_schedule_server.php
LOG_FILE=""

#STATUS_SERVER_URL=<status server url>
#SCHEDULE_SERVER_URL=<schedule server url>
#LOG_FILE=<new syslog log location, set to "">
